<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<title>Insert title here</title>
<style>
	.card{
		border:none;
	}
</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">Our News</h1>
		<p class="text-center">Enum and minim, quis nostrud exerci tation ullamcorp</p>
		<header class="row">
			<div class="col-4">
				<div class="card">
				  <img data-th-src="@{/images/sample/image01.png}" class="card-img-top mb-3" alt="...">
				  <div class="card-body p-0">
				    <h5 class="card-title">Duis autem vel eum</h5>
				    <p class="card-text">Veiat nulla at vero eros et accumsan et iusto odio dignissim qui blandit prasesent luptaum zzeleint augue duis dolore te feugait nulla faciisi.Typi nom</p>
				  </div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
				  <img data-th-src="@{/images/sample/image02.png}" class="card-img-top mb-3" alt="...">
				  <div class="card-body p-0">
				    <h5 class="card-title">Nan liber tempor cum</h5>
				    <p class="card-text">Veiat nulla at vero eros et accumsan et iusto odio dignissim qui blandit prasesent luptaum zzeleint augue duis dolore te feugait nulla faciisi.Typi nom</p>
				  </div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
				  <img data-th-src="@{/images/sample/image03.png}" class="card-img-top mb-3" alt="...">
				  <div class="card-body p-0">
				    <h5 class="card-title">Duis autem vel eum</h5>
				    <p class="card-text">Veiat nulla at vero eros et accumsan et iusto odio dignissim qui blandit prasesent luptaum zzeleint augue duis dolore te feugait nulla faciisi.Typi nom</p>
				  </div>
				</div>
			</div>
		</header>
	</div>
	
	
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>